# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-electron
dist-renderer
*.local
src/aimodels/*
src/python-ai-hub/__pycache__
src/python-ai-hub/build
src/python-ai-hub/dist
src/electron/ai/models/
.env
*.env


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
